.Auth {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nextStap_render {
    padding: 10px 15px;
    background-color: rgb(75, 75, 221);
    cursor: pointer;
    display: inline;
    border-radius: 5px;
    user-select: none;
}
.form-container {
    width: 350px;
    margin: 20vh 0 0 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}
input {
    border: 1px solid red
}
.input-group {
    margin-bottom: 15px;
}
.submit-button {
    margin-top: 20px; 
}

.input-field {
    width: 96%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #0056b3;
}
